<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      For any problems you may encounter please feel free to 
      <%= link_to "contacts us", contact_path %>  with any queries or problems you may have.
    </p>
