<div class="center hero_unit">
  	<h1>School Report Forums</h1>
  	<h2> 		
  		Independant opinions and information<br />
  		on Education providers    	
    </h2>    
</div>

<% if signed_in? %>
<div class="row">
  <div class="span10">
    <%= render 'shared/user_info'%>
  </div>
  <span class="span2">
    <%= link_to "Start a new topic!", new_topic_path, class: "btn btn-large btn-primary" %>
  </span>
</div>

  <% else %>
  <div class="row center">
    <%= link_to "Sign up now!", registration_path, class: "btn btn-large btn-primary" %>
  </div>
  <% end %>
  
<%= render 'shared/topic_search'%>

