@import "bootstrap";
@import "bootstrap-responsive";


/*********************** navbar-search ************************/

.navbar-search { 
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align:center;
  float:none;
}
.navbar-inner {
  background-image: -moz-linear-gradient(top, #2fb8bf, #003f7f) !important;
  background-image: -ms-linear-gradient(top, #2fb8bf, #003f7f) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2fb8bf), to(#003f7f)) !important;
  background-image: -webkit-linear-gradient(top, #2fb8bf, #003f7f) !important;
  background-image: -o-linear-gradient(top, #2fb8bf, #003f7f) !important;
}

.navbar .brand {
  padding: 8px 10px 12px !important;
  font-size: 20px !important;
  color: #eff1f7 !important;
}

.navbar .divider-vertical {
  height: 31px !important;
  background-color: #ffffff !important;
  border-right: 1px solid #c6c6c6 !important;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px !important;
  font-size: 14px !important;
  color: #f7fcfa !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #1d73e2 !important;
}



/*************** mixins - variables - etc**********************/
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/************************ Miscellaneous ************************/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/************************** universal **************************/
html {
  overflow-y: scroll;
}
.min{
  min-width:320px;
}
.max{
  max-width:320px;
}
body {
  padding-top: 0px;
  background: #EBEBF8;
  min-width:300px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
  height: 100px;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/********************************** topics **********************************/
.topics {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #D1D1D1;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #3366CC;
}
.gravatar {
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/***************************** users index ************************************/
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/************************** Sidebar    **************************/

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/*************************** replies****************************/
.reply-content {
  margin-left:25px;
}

/*************************** forms ****************************/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}
.reply {
  border-top: 1px solid $grayLighter;
  padding: 25px 0px 0px 45px;
}
input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/************************** typography **************************/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #3366CC;
}
h2, h3, #logo{
  text-shadow: 0px -1px 0px #000;
}

h1 {
  font-size: 3em;
  margin-top: 30px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #0066FF;
  text-shadow: 2px 2px 3px #000;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: normal;
  color: #3366CC;
}
h6 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: bold;
  color: #3366CC;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/************************* header *************************/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}



/************************* footer **************************/
footer {
  margin: 10px 20px 10px 20px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  } 
  small {
    float: left;
  } 
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}